@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");
@import "tailwindcss";

@theme {
  --font-garamond: "EB Garamond", serif;
  --font-helvetica: "Helvetica", sans-serif;
  --color-light-black: #343434;
  --color-dark-purple: #160f29;
  --color-caribbean: #246a73;
  --color-dark-cyan: #368f8b;
  --color-champagne: #f3dfc1;
  --color-desert-sand: #ddbea8;
}

.body {
  padding: 8px;
  box-sizing: border-box;
  font-size: 1rem;
  color: white;
  background-color: var(--color-light-black);
  min-height: 100vh;
  display: grid;
  /* change layout proportions here in the grid template : */
  grid-template-rows: 100px auto 50px;
  /* font-family: var(--font-garamond); */
  /* overflow-x: hidden; */
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.4rem;
}
h5 {
  font-size: 1.3rem;
}
h6 {
  font-size: 1.2rem;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
