<div class="register">
  <h2>Register</h2>
  <form [formGroup]="registerForm" class="example-form" (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="text"
        placeholder="john.doe@gmail.com"
        formControlName="email"
      />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" />
    </mat-form-field>
    <div class="example-button-row">
      <button type="submit" [disabled]="!registerForm.valid" mat-stroked-button>
        Register
      </button>
    </div>
  </form>
</div>
